.fantasma{
    position: relative;
    width: 20px;
    height: 60px;
    background-color: lightpink;
    color: white;
    padding: 5px 7px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    animation: mover 2s ease;
}
@keyframes mover {
    0%{
        top:0; left:0;
    }
    25%{
        top:0; left: 500px;
        background-color: transparent; color: black;
    }
    50%{
        top: 500px; left: 500px;
        background-color: transparent; color: lightcoral;
    }
    75%{
        top:500px; left: 0;
        background-color: transparent; color:blanchedalmond;
    
    }
    100%{
        top:0; left: 0px;
    }
}
.fantasma1,
.fantasma2,
.fantasma3,
.fantasma4,
.fantasma5{
    position: relative;
    width: 20px;
    height: 60px;
    background-color: lightpink;
    color: white;
    padding: 5px 7px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    animation: carrera 3s  ease;
}
.fantasma2{
    background-color: blanchedalmond; 
    animation: carrera 3s  all;  
}
.fantasma3{
    background-color: rgb(205, 255, 212);
    animation: carrera 3s  ease-in;
}
.fantasma4{
    background-color: rgb(247, 205, 255);
    animation: carrera 3s  ease-out;
}   

.fantasma5{
    background-color: rgb(205, 214, 255);
    animation: carrera 3s  ease-in-out;
}
@keyframes carrera{
    0%{
        top: 0; left: 0;
    }
    100%{
        top: 0; left:  500px;
    }
}           